<div style="background-color:orange">
    <h2>子コンポーネントで計算</h2>
    <div>
        Height: <input type="number" @bind="Height" />
    </div>
    <div>
        Weight: <input type="number" @bind="Weight" />
    </div>
    <button class="btn btn-primary" @onclick="clickCalc" >計算</button>
    

</div>