<h3>BmiChildResult</h3>

<div style="background-color:orange">
    <h2>親に伝達するコンポーネント</h2>
    <div>
        Height: @Height cm, Weight: @Weight kg.
    </div>
    <div>
        BMI: @Result
    </div>

    <button class="btn btn-primary" @onclick="clickCalc">計算</button>
</div>

