<hr />
<div style="text-align:right">Copyright 2024 by @name1, @name2 </div>
@code {
    // パラメータ付きコンポーネント
    [Parameter]
    public string name1 { get; set; } = "none";
    [Parameter]
    public string name2 { get; set; } = "none";
}



